.login {
    flex-direction: column;
    background: rgba(243, 98, 192, 0.282);
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.292);
    border: 4px solid rgba(250, 37, 72, 0.537);
    border-radius: 18px;
    overflow: hidden;
    padding: 0 25px 0 20px;
}

.loginHeader {
    width: 100%;
    z-index: 1000;
}

.loginHeader img {
    height: 10vh;
}

.loginHeader h1{
    transform: translateX(-9px);
}

.form {
    display: flex;
    flex-direction: column;
}

.form h3 {
    color: var(--color-primary);
    font-size: 1.6em;
    margin-bottom: 10px;
}

.form label {
    color: var(--color-primary);
    font-size: 1.1em;
    margin-bottom: 3px;
    font-weight: 500;
}

.form input {
    background: transparent;
    border: 1px solid var(--color-primary);
    outline: none;
    height: 28px;
    border-radius: 10px;
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 1em;
    color: var(--color-primary);
}

.form .loginBtn {
    height: 36px;
    width: 260px;
    border-radius: 8px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form .link {
    color: var(--color-primary);
    text-decoration: none;
    margin-bottom: 10px;
}