.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2px;
    padding-bottom: 2px;
}

.subDetails .head {
    font-weight: 600;
}

.availability {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}